* {
    margin: 0 auto
}

/* azul:0, 11, 255 rosa:255, 0, 153 amarelo:255, 251, 0 branco:255, 255, 255 preto:0, 0, 0    position: fixed;
    z-index: 10000; */

#s {
    background-color: rgba(255, 251, 0, 0.242);
}

#espaco2 {
    width: 100%;
    height: 3vh;
    background-color: #ffffff;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

main h1 {
    font-size: 1.5vw;
    font-family:'Arvo', sans-serif;;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
main p {
    color: #ffffff;
    font-size: 1vw;
    font-family:'Arvo', sans-serif;;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}

#ar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

#azul {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 255, 0.357);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#azul div {
    width: 60%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: blue;
    border-radius: 10px;
}
#azul img {
    width: 10vw;
    height: 15vh;
    border-radius: 10px;
    display: flex;
    margin-top: 5px;
}


#rosa {
    width: 100%;
    height: auto;
    background-color: rgba(255, 0, 153, 0.367);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#rosa div {
    width: 60%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 0, 153);
    border-radius: 10px;
}
#rosa img {
    width: 10vw;
    height: 15vh;
    border-radius: 10px;
    display: flex;
    margin-top: 5px;
}


#amarelo {
    width: 50%;
    height: auto;
    background-color: rgba(255, 251, 0, 0.325);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#amarelo div {
    width: 60%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 251, 0);
    border-radius: 10px;
}
#amarelo img {
    width: 10vw;
    height: 15vh;
    border-radius: 10px;
    display: flex;
    margin-top: 5px;
}
#amarelo p {
    color: #000000;
    font-size: 1vw;
    font-family:'Arvo', sans-serif;;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}
#amarelo h1 {
    font-size: 1.5vw;
    font-family:'Arvo', sans-serif;;
    color: #000000;
    font-weight: bold;
    text-align: center;
}


#espaco3 {
    width: 100%;
    height: 4vh;
    background-color: #ffffff;
}

#f1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #afafaf;
    
}

#f1 a {
    font-family:'Arvo', serif;
    font-weight: lighter;
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none;
}

#f1 h1 {
    font-family:'Arvo', serif;
    font-weight: lighter;
    color: #ffffff;
    font-size: 1.4em;

}

#f2 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
 
 
}

#f4 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    
}

#f3 {
    width: 10%;
    height: 100%;
    flex-direction: column;
   
 
}

#f3 img {
    width: 3vw;
    height: 5vh;
}

@media only screen and (max-width: 800px) {

    main {
        flex-direction: column;
    }
    main h1 {
        font-size: 1.2em;
    }
    main p {
        font-size: 0.9em;
    }

    #ar {
        flex-direction: column;
    }

    #azul img {
        width: 30vw;
        height: 20vh;
    }

    #rosa img {
        width: 30vw;
        height: 20vh;
    }

    #amarelo img {
        width: 30vw;
        height: 20vh;
    }
    #amarelo {
        width: 100%;
    }
    #amarelo h1 {
        font-size: 1.2em;
    } 
    #amarelo p {
        font-size: 0.9em;
    }


    #f1 {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    #f2 {
        width: 100%;
    }
    #f3 {
        width: 100%;
    }
    #f3 img {
        width: 9vw;
        height: 8vh;
    }
    #f4 {
        width: 100%;
        font-size: 0.7em;
    }
   
}